*{
    font-family: 'Poppins', sans-serif;
    color:black;
    text-decoration: none;
}

  /* this code is for styling login and 
  signup pages*/
.navigation{
  background:#ffffff;
}
#bodylogin{
  background-color: rgb(255, 255, 255);
}

.inputfield{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
}
.inputfield > h1 {
  margin: 0% 0%;
}
.login_text{
    margin:0 auto;
    width:300px;
    border-radius:30px;
    border:1px solid #b1afaf;
    height:45px;
    padding-left: 20px;
    width:300px;
    font-size:16px;
    outline: none;
    margin: 8px;
  }
  .login_text:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .login_text:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .button{
    background-color: #4C8FFB;
    border:1px solid;
    color:rgb(255, 255, 255);
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:5px;
    outline:none;
    cursor: pointer
  }
  .button:hover{
    transition: 0.4s ease-in-out;
    border: 1px solid #4C8FFB;
    padding: 10px 20px;
    background-color:rgb(255, 255, 255) ;
    color:#4C8FFB;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
  }
  
  li {
    float: right;
    font-weight: bold;
  }
  #navlinks{
    text-decoration: none;
    color: #000;
  }
  li a {
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:18px;
  }
  li a:hover {
    text-decoration: underline;
  }

  hr{
      margin: 0;
  }
  .footer{
    background: #f2f2f2;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 5vh;
    margin: 0%;
  }
  .fcredit{
    float: right;
    margin: 0%;
    padding: 5px 5px;
  }
  .flinks{
    padding: 0px 7px;
  }
  .error{
    color: rgb(238, 111, 65);
  }
  .success{
    color: rgb(28, 128, 28);
  }
  .error > p{
    margin: 2% 0%;
  }
  .success > p{
    margin: 2% 0%;
  }
/*this code is for product display search and category page*/
.content{
  background-color: rgb(255, 255, 255);
}
#results{
  text-align: center;
}
#products{
  width :80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
#products > h1{
  text-align: center;
  width: 100%;
}
#product{
  padding: 20px 40px;
  text-align: center;
  height: 440px;
  width: 210px;
  
}
#category{
  margin: 30px auto;
  padding: 15px 0px;
  border: 1px solid #4C8FFB;
  background-color: #4C8FFB;
  border-radius: 5px;
}
#category > a{
  padding:15px;
  color: #ffffff;
}
#category:hover{
  background-color: #ffffff;

}
#category > a:hover{
  color: #4C8FFB;
}

.product_images{
  cursor:pointer;
  height: 300px;
  border-radius: 5px;
}
.product_images:hover{
  height: 304px;
  transition: 0.1s ease-in-out;
}
.book_info{
  text-align: center;
  font-weight: bold;
}
.book_info > p{
  margin:5px 5px;
}
.cat_items{
  text-decoration: none;
  text-transform: uppercase;
}
.searchfield{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}
#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
/* product display page for customer */
.displaypage{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;

}
.proddisplay{
  width: 400px;
  height: auto;
  margin: 0px auto 0px auto;
 
}
.prodinfo{
 width: 800px;

 margin: 80px auto 0px auto;
}
.heading_final{
  text-align: center;
  margin: 10px;
}
.author_final{
  text-align: center;
  padding: 0;
  margin: 0;
}
#product_final{
  margin: 10px auto;
  padding: 20px 40px;
  text-align: center;
  height: 530px;
  width: 310px;
  
}
.product_images_final{

  cursor:pointer;
  height: 450px;
  border-radius: 5px;
  box-shadow: 5px 10px #2b2a2a;
}

.order_items{
  text-decoration: none;
  text-transform: uppercase;
}
#order{
  margin: 30px 0px;
  padding: 15px 0px;
  border: 1px solid #4C8FFB;
  background-color: #4C8FFB;
  border-radius: 5px;
}
#order > a{
  padding:20px 118px;
  color: #ffffff;
}
#order:hover{
  background-color: #ffffff;
  transition: ease-in-out;

}
#order > a:hover{
  color: #4C8FFB;
  transition: ease-in-out;
}
.bookdescription{
  margin: 20px;
  text-align: center;
  font-size: large;

}
.desc_final{
  text-align: center;
  margin: 10px;
}
.additional_info{
  text-align: center;
  font-size: large;
}